@import "../node_modules/antd/dist/antd.css";
.App {
  text-align: center;
}
.form_header_ro {
  margin-bottom: 20px;
  border-bottom: black;
  border-width: 3px;
}
.App-logo {
  height: 40vmin;
}

.entity-table {
  margin: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
